@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
  color: #fff;
}

body {
  background-color: #0f1316;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  border-radius: 15px;

  background-color: #1e2a31;

  padding: 38px;
  padding-bottom: 78px;
  width: 600px;
  box-shadow: 0 0 50px rgba(30, 42, 49, 0.7);
}

.advice_title,
.advice_number {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 12px;
}

.advice {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  color: #e9eaea;
  transition: all 0.1s ease-in-out;
}

.advice_randomiser {
  background-color: hsl(150, 100%, 66%);
  display: flex;
  border-radius: 50%;
  border: none;
  padding: 24px;
  margin-bottom: -21%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.advice_randomiser:hover {
  box-shadow: 0 0 30px rgba(82, 255, 168, 0.5);
}

.advice_randomiser:active {
  background-color: #42cc86;
}

.attribution {
  position: fixed;
  bottom: 20px;
}
